button {
    margin: 10px 0px;
}

.colorBtn {
    border: 1px solid;
	color: white;;
	height: 50px; 
	width: 50px;
}

.selectStudyPlan {
    margin: 10px 5px;
    width: 130px;
    height: 60px;
    font-size: 25px;
}

#btnGreen {
    border: 3px solid;
    background-color: #439630;
}

#btnPink {
    background-color: #C14B4C;
}

#btnBlue {
    background-color: #2653AD;
}

#btnOrange {
    background-color: #BF7913;
}

#btnPurple {
    background-color: #633B8D;
}

#btnRed {
    background-color: #B02828;
}

.progressBar {
    width: 0%;
    height: 30px;
    /*background-color: #4CAF50;*/
    background-color: #439630;
    text-align: center;  
    /*To center it horizontally (if you want) */
    line-height: 30px; /* To center it vertically */
    color: white;
}

#myBarGreen {
    background-color: #439630;
}

#myBarBlue {
    background-color: #2653AD;
}

#myBarOrange {
    background-color: #BF7913;
}

#myBarPurple {
    background-color: #633B8D;
}

#myBarPink {
    background-color: #C14B4C;
}

#myBarRed {
    background-color: #B02828;
}