button {
    margin: 10px 0px;
}

.colorBtn {
    border: 1px solid;
	color: white;;
	height: 50px; 
	width: 50px;
}

#btnGreen {
    border: 3px solid;
    background-color: #439630;
}

#btnBlue {
    background-color: #2653AD;
}

#btnOrange {
    background-color: #BF7913;
}

#btnPurple {
    background-color: #633B8D;
}

#myBarGreen {
    width: 0%;
    height: 30px;
    /*background-color: #4CAF50;*/
    background-color: #439630;
    text-align: center;  
    /*To center it horizontally (if you want) */
    line-height: 30px; /* To center it vertically */
    color: white;
}

#myBarBlue {
    width: 0%;
    height: 30px;
    /*background-color: #4CAF50;*/
    background-color: #2653AD;
    text-align: center;  
    /*To center it horizontally (if you want) */
    line-height: 30px; /* To center it vertically */
    color: white;
}

#myBarOrange {
    width: 99.75%;
    height: 30px;
    /*background-color: #4CAF50;*/
    background-color: #BF7913;
    text-align: center;  
    /*To center it horizontally (if you want) */
    line-height: 30px; /* To center it vertically */
    color: white;
}

#myBarPurple {
    width: 0%;
    height: 30px;
    /*background-color: #4CAF50;*/
    background-color: #633B8D;
    text-align: center;  
    /*To center it horizontally (if you want) */
    line-height: 30px; /* To center it vertically */
    color: white;
}