body {
    background-color: #191C25;
    margin: 20px;
    margin-top: 0px;
}

table, th, td {
    border: 1px solid black;
    color: #191C25;
    color: antiquewhite;
    padding: 3px 5px;
}

td {
    font-size: 75%;
}

font {
    color: white;
}

h1 {
    text-align: center;
}

#my-table{
    table-layout: fixed;
    width: 100%;
    /*width: 2000px;*/
    border-color: #191C25;
}


#myProgress {
   display: flex;
}


.button {
    background-color: red;
    border: none;
    color: white;
    padding: 12px 30px;
    text-align: center;
    /*display: inline-block;*/
    /* font-size: 16px; */
    /* font-size: 75%; */
}

.semester {
    /* display: flex; */
    /* width: 100/9%; */
    color: white;
    /* padding: 10px; */
    /* margin: 5px; */
    background-color: orange;
    text-align: center;
    /* border: ridge white; */
    padding: 5px;
    margin: 5px;
    
    /* text-align: center;
    border: ridge white; */
}

.semester > div {
    /* display: flex; */
    border: ridge white;
    background-color: orange;
    
    /*flex-direction: column*/
}

$themes: (
  default-theme: (
    white: #fff,
    gray-5: #fbfbfb, /*Background*/
    gray-10: #e0e0e0, /*Border*/ 
    gray-20: #dee0e1,
    gray-30: #b1b6b8, /*Disabled*/
    gray-50: #858d90, /*Secondary*/ 
    gray-60: #76888c,
    gray-70: #344146,
    gray-80: #253338, /*Text*/ 
    black: #000,
    blue-links: #059ADB,
    
    clover-green: #43b02a, /*Primary*/ 
    clover-blue: #059adb, /*Secondary / Links*/ 
    clover-red: #ff5555, /*Error*/ 
    clover-yellow: #edce3a  /*Warning*/  
  ),
  
  high-contrast-theme: (
    white: #fff,
    gray-5: #617587,
    gray-10: #617587,
    gray-20: #617587,
    gray-30: #617587,
    gray-50: #617587,
    gray-60: #617587,
    gray-70: #344146,
    gray-80: #253338, /*Text*/ 
    black: #000,
    blue-links: #0374A5,
    
    clover-green: #328320,
    clover-blue: #0374A5,
    clover-red: #E60000,
    clover-yellow: #edce3a
  )  
);