body {
    background-color: #191C25;
}

table, th, td {
    border: 1px solid black;
    color: #191C25;
}

td {
    font-size: 75%;
}

font {
    color: white;
}

h1 {
    text-align: center;
}

#my-table{
    width: 80%;
    /*width: 2000px;*/
    border-color: #191C25;
}


#myProgress {
   display: flex;
}


.button {
    background-color: red;
    border: none;
    color: white;
    padding: 12px 30px;
    text-align: center;
    /*display: inline-block;*/
    /* font-size: 16px; */
    /* font-size: 75%; */
}

.semester {
    /* display: flex; */
    /* width: 100/9%; */
    color: white;
    /* padding: 10px; */
    /* margin: 5px; */
    background-color: orange;
    text-align: center;
    /* border: ridge white; */
    padding: 5px;
    margin: 5px;
    
    /* text-align: center;
    border: ridge white; */
}

.semester > div {
    /* display: flex; */
    border: ridge white;
    background-color: orange;
    
    /*flex-direction: column*/
}