.titulo-tabla {
  display: flex;
  float: right;
}

.colores-container {
  display: flex;
  overflow-x: scroll;
  &::-webkit-scrollbar {
   display: none;
  }

  .boton-color {
    font-size: 0.8em;
    border: 4px solid;
    border-color: transparent;
    width: 100px;
    min-width: 100px;

    &.seleccionado {
      border-color: white;
    }
  }
}

.semestre {
  color: white;
  text-align: center;
  text-align: center;

  > .semestre-label {
    border-radius: 2px;
  
    > label {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  > div {
    width: 100%;
  }

  > .materia {
    border-radius: 2px;
    margin-top: 2px;
    font-size: 1rem;

    @media (min-width: 768px){
      font-size: 0.8rem;
    }
    
    @media (min-width: 1220px){
      font-size: 0.7rem;
    }

    .labelMateria {
      line-height: 1em;
      padding: 2px;

      .nombre-materia {
        height: 4em;
        width: 100%;
        display: block;
        display: flex;
        align-items: center;
        font-weight: 500;
      }

      .unidades {
        font-weight: lighter;
      }

      label {
        width: 100%;
      }
    }

    .tec21 {
      height: 6px;
      opacity: 0.65;

      > div {
        border: 1px solid #00000080;
      }
    }
  }
}

.cuadrado-color {
  border: 1px solid;
  height: 2.5rem;
  width: 2.5rem;
}

.nombre-materia {
  height: 90%;
}

.tec21 {
  height: 10%;
  .activo {
    background-color: $fondo-tec21-activo;
  }

  .no-activo {
    background-color: $fondo-tec21-no-activo;
  }
}

.modal-bg {
  background-color: $fondo-app;
}

.toast-bg {
  background-color: $toast;
}
