$fondo-app: #191C25;
$toast: #2a3144;
$fondo-tec21-activo: #86ffa5;
$fondo-tec21-no-activo: #272727;

$bg-orange: #BF7913;
$bg-green: #439630;
$bg-pink: #C14B4C;
$bg-blue: #2653AD;
$bg-purple: #633B8D;
$bg-red: #B02828;
$bg-teal: #008080;

$bg-orange-hover: #a06b1d;
$bg-green-hover: #428233;
$bg-pink-hover: #9e494b;
$bg-blue-hover: #2a4987;
$bg-purple-hover: #563974;
$bg-red-hover: #8f2828;
$bg-teal-hover: #087272;
