@import './App.scss';

body {
  background-color: #191C25;
  margin: 20px;
  margin-top: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

table, th, td {
  border: 1px solid black;
  color: #191C25;
  color: antiquewhite;
  padding: 3px 5px;
  border-color: #191C25;
  /*background-color: #BF7913;*/
}

td {
  font-size: 75%;
  border-color: #191C25;
}

font {
  color: white;
}

h1 {
  text-align: center;
  color: white;
  font-family: 'Lucida Bright';
  margin: 10px 0px;
  /* , 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}

h2 {
  color: white;
}

label {
  color: white;
}

#my-table{
  table-layout: fixed;
  width: 100%;
  /*width: 2000px;*/
  /*border-color: #BF7913;*/
}


#myProgress {
 display: flex;
}

#divTable {
  margin: 5px 0px;
}

#tituloTabla {
  display: flex;
  /* float: none; */
  /* float: right; */
  float: right;
  /* justify-content: center; */
  /* align-self: center  */
  /* align-self: center; */
}

.centerImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 50%; */
}

.materia, .semestre {
  background-color: #BF7913;
}

.button {
  background-color: red;
  border: none;
  color: white;
  padding: 12px 30px;
  text-align: center;
  /*display: inline-block;*/
  /* font-size: 16px; */
  /* font-size: 75%; */
}

.semester {
  /* display: flex; */
  /* width: 100/9%; */
  color: white;
  /* padding: 10px; */
  /* margin: 5px; */
  /*background-color: white;*/
  text-align: center;
  /*border: white; */
  padding: 5px;
  margin: 5px;
  
  /* text-align: center;
  border: ridge white; */
}

.semester > div {
  /* display: flex; */
  border-color: #191C25;
  /*background-color: #BF7913;*/
  
  /*flex-direction: column*/
}

#searchStudyPlan {
  margin: 10px 0px;
}

$themes: (
default-theme: (
  white: #fff,
  gray-5: #fbfbfb, /*Background*/
  gray-10: #e0e0e0, /*Border*/ 
  gray-20: #dee0e1,
  gray-30: #b1b6b8, /*Disabled*/
  gray-50: #858d90, /*Secondary*/ 
  gray-60: #76888c,
  gray-70: #344146,
  gray-80: #253338, /*Text*/ 
  black: #000,
  blue-links: #059ADB,
  
  clover-green: #43b02a, /*Primary*/ 
  clover-blue: #059adb, /*Secondary / Links*/ 
  clover-red: #ff5555, /*Error*/ 
  clover-yellow: #edce3a  /*Warning*/  
),

high-contrast-theme: (
  white: #fff,
  gray-5: #617587,
  gray-10: #617587,
  gray-20: #617587,
  gray-30: #617587,
  gray-50: #617587,
  gray-60: #617587,
  gray-70: #344146,
  gray-80: #253338, /*Text*/ 
  black: #000,
  blue-links: #0374A5,
  
  clover-green: #328320,
  clover-blue: #0374A5,
  clover-red: #E60000,
  clover-yellow: #edce3a
)  
);

button {
  margin: 10px 0px;
}

.colorBtn {
  border: 1px solid;
color: white;;
height: 50px; 
width: 50px;
}

.selectStudyPlan {
  margin: 10px 5px;
  width: 140px;
  height: 55px;
  font-size: 25px;
}

#btnGreen {
  border: 3px solid;
  background-color: #439630;
}

#btnPink {
  background-color: #C14B4C;
}

#btnBlue {
  background-color: #2653AD;
}

#btnOrange {
  background-color: #BF7913;
}

#btnPurple {
  background-color: #633B8D;
}

#btnRed {
  background-color: #B02828;
}

#btnTeal {
  background-color: #008080;
}

.progressBar {
  width: 0%;
  height: 30px;
  /*background-color: #4CAF50;*/
  background-color: #439630;
  text-align: center;  
  /*To center it horizontally (if you want) */
  line-height: 30px; /* To center it vertically */
  color: white;
}

#myBarGreen {
  background-color: #439630;
}

#myBarBlue {
  background-color: #2653AD;
}

#myBarOrange {
  background-color: #BF7913;
}

#myBarPurple {
  background-color: #633B8D;
}

#myBarPink {
  background-color: #C14B4C;
}

#myBarRed {
  background-color: #B02828;
}

#myBarTeal {
  background-color: #008080;
}
