.titulo-tabla {
  display: flex;
  float: right;
}

.semester {
  color: white;
  text-align: center;
}

.boton-seleccionado {
  border: 3px solid;
}

.materia {
  border: solid 1px #191C25;
  width: 100%;
  height: 7vh;
  text-align: center;
}

.boton-color {
  border: 1px solid;
  color: white;
  height: 2rem;
  // width: 2rem;
}

@media (max-width:1461px){
  .materia {
      font-size: 1.3vh;
  }
}

@media (max-width:1220px){
  .materia {
      font-size: 1.2vh;
  }
}