.footer {
  text-align: center;
}

.header {
  padding: 20px 10px;
  height: auto;
  flex-direction: row;
  align-items: center;
  font-size: calc(10px + 2vmin);
}
  
.header-left {
  float: left;

  .element {
    color: white;
    font-family: 'helvetica';
    font-size: 2.5rem;
    text-decoration: none;
  }
}
  
.header-right {
  display: flex;
  float: right;
  
  .element {
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    font-family: 'helvetica';
    text-decoration: none;
  }  
}
