:root {
    --green: #439630;
    --green-hover: #428233;
    --pink: #C14B4C;
    --pink-hover: #9e494b;
    --blue: #2653AD;
    --blue-hover: #2a4987;
    --orange: #BF7913;
    --orange-hover: #a06b1d;
    --purple: #633B8D;
    --purple-hover: #563974;
    --red: #B02828;
    --red-hover: #8f2828;
    --teal: #008080;
    --teal-hover: #087272;
}

.Green {background-color: var(--green);}
.Green:hover {background-color: var(--green-hover);}
.Pink {background-color: var(--pink);}
.Pink:hover {background-color: var(--pink-hover);}
.Blue {background-color: var(--blue);}
.Blue:hover {background-color: var(--blue-hover);}
.Orange {background-color: var(--orange);}
.Orange:hover {background-color: var(--orange-hover);}
.Purple {background-color: var(--purple);}
.Purple:hover {background-color: var(--purple-hover);}
.Red {background-color: var(--red);}
.Red:hover {background-color: var(--red-hover);}
.Teal {background-color: var(--teal);}
.Teal:hover {background-color: var(--teal-hover);}

body {
    background-color: #191C25;
    margin: 20px;
    margin-top: 0px;
}

table, th, td {
    border: 1px solid black;
    color: #191C25;
    color: antiquewhite;
    padding: 3px 5px;
    border-color: #191C25;
    /*background-color: #BF7913;*/
}

td {
    font-size: 75%;
    border-color: #191C25;
}

font {
    color: white;
}

h1 {
    text-align: center;
    color: white;
    font-family: 'Lucida Bright';
    margin: 10px 0px;
    /* , 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}

h2 {
    color: white;
}

label {
    color: white;
}

button {
    color: white;
}

#my-table{
    table-layout: fixed;
    width: 100%;
    /*width: 2000px;*/
    /*border-color: #BF7913;*/
}

#myProgress {
   display: flex;
   margin: 0.5vh 0px;
   pointer-events:none;
}

#tituloTabla {
    display: flex;
    /* float: none; */
    /* float: right; */
    float: right;
    /* justify-content: center; */
    /* align-self: center  */
    /* align-self: center; */
}

.centerImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
}

.materia, .semestre {
    /* background-color: #BF7913; */
    width: 100%;
    margin: 0;
    border: #222222 1px solid;
    text-align: center;
    font-size: 1.4vh;
    padding: 0.5vh 0.9vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.materia {
    height: 15%;
}

.semestre {
    padding: 1vh 0px;
    font-size: 1.5vh;
}

.button {
    background-color: red;
    border: none;
    color: white;
    padding: 12px 30px;
    text-align: center;
    /*display: inline-block;*/
    /* font-size: 16px; */
    /* font-size: 75%; */
}

.semester {
    /* display: flex; */
    /* width: 100/9%; */
    color: white;
    /* padding: 10px; */
    /* margin: 5px; */
    /*background-color: white;*/
    text-align: center;
    /*border: white; */
    width: 100%;
    margin: 0;
    /* text-align: center;
    border: ridge white; */
}

.semester > div {
    /* display: flex; */
    /* border-color: #191C25; */
    /*background-color: #BF7913;*/
    
    /*flex-direction: column*/
}

#searchStudyPlan {
    margin: 10px 0px;
}

.majorTable {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* flex-flow: column; */
    height: 60vh;
    /* height: fit-content; */
    margin-top: 1vh;
    margin-bottom: 10vh;
    
}

@media (max-width:1461px){
    .materia {
        font-size: 1.3vh;
    }
}

@media (max-width:1220px){
    .materia {
        font-size: 1.2vh;
    }
}


/* $themes: (
  default-theme: (
    white: #fff,
    gray-5: #fbfbfb, Background
    gray-10: #e0e0e0, Border 
    gray-20: #dee0e1,
    gray-30: #b1b6b8, Disabled
    gray-50: #858d90, Secondary 
    gray-60: #76888c,
    gray-70: #344146,
    gray-80: #253338, Text 
    black: #000,
    blue-links: #059ADB,
    
    clover-green: #43b02a, Primary 
    clover-blue: #059adb, Secondary / Links 
    clover-red: #ff5555, Error 
    clover-yellow: #edce3a  Warning  
  ),
  
  high-contrast-theme: (
    white: #fff,
    gray-5: #617587,
    gray-10: #617587,
    gray-20: #617587,
    gray-30: #617587,
    gray-50: #617587,
    gray-60: #617587,
    gray-70: #344146,
    gray-80: #253338, Text 
    black: #000,
    blue-links: #0374A5,
    
    clover-green: #328320,
    clover-blue: #0374A5,
    clover-red: #E60000,
    clover-yellow: #edce3a
  )  
); */